main{
    max-height: calc(100vh-60px);
    width: 80vw;
    margin: auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .left-side h1{
    font-size: 5rem;
    font-weight: 800;
}
.btn button{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 1rem;
}
@media (max-width:768px)
{       
     
    main .left-side h1{
        font-size: 3rem;
        font-weight: 800;
    }
    .container{
        flex-direction: column;
    }
    main .right-side{
        margin-top: 4rem;
    } 
}
